form {
    text-align: center;
}

.upload {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-preview {
    cursor: pointer;
    background-color: #e4ecf4;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .1s ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.input-image-title {
    padding: 15px;
    width: 50%;
    margin: 20px;
}
