html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-size: 16px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

#root {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    min-width: 150px;
    text-align: center;
    margin: 15px;
    cursor: pointer;
}
