.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.image-container {
    width: 150px;
    height: 200px;
}
.image {
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.delete-icon {
    cursor: pointer;
    align-items: center;
}
.fas {
    cursor: pointer;
    font-size: 20px;
    color: black;
    position: absolute;
}

.modal-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    z-index: 1040;
    display: none;
}

.modal-cover.modal-cover-active {
    display: block;
}

.modal-container {
    padding: 10px;
    z-index: 1050;
    position: fixed;
    border: 1px solid lightgray;
    border-radius: 6px;
    background: white;
    width: 600px;
    height: 800px;
    left: 50%;
    top: 20%;
    margin-left: -300px;
    display: none;
}

.modal-container.modal-container-active {
    display: block;
}

.modal-image {
    width: 600px;
    height: 600px;
}
.title {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
